.botonClear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 4px;
    user-select: none;
    background-color: #294e74;
}

.botonClear:hover{
    background-color: #213D5A;
}