.input{
    height: 75px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 30px;
    padding: 11px;
    border: 1px solid black;
    box-shadow: 1px -4px 1px 1px #3D3D3D;
    background-color: #1F1F1F;
    color: white;
}